
<!-- <h1> {{ message }}</h1> -->
{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}

    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles%.css')}}">
    
    {% endblock %}
</head>



<body >
    {% block content %}

    <div class="container">
        <form>
            <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
            <input type="submit"  value="Submit" class="btn btn-default">
        </form>
    
    </div>

    <div >
        <h3> Popular Movies</h3>

        <ul style="font-size: 20px;">
            <!-- {{ macro.displayMovieList(popular)}} -->
            {% for popular_movie in popular %}
                <li>{{ popular_movie.title}}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3 > Upcoming Movies </h3>

        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
    </div>
   
   

   

    
    

    <h3 class="mb-5 text-center">Now Showing</h3>
    <ul>
        {{ macro.displayMovieList(now_showing)}}
    </ul>

    {% endblock %}
</body>

</html>